
<head>


    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,100' rel='stylesheet' type='text/css'>
    <title>BVCIL</title>


</head>

    <body>
    <header>
        <div class="main-text-box">
            <h1 class="long-copy">Welcome to BVCIL</h1>
            <br/>
            <br/>
            <%= link_to "Sign In",new_user_session_path, class:"btn btn-1" %>
            <%= link_to "Sign Up",new_user_registration_path, class:"btn btn-2" %>

        </div>
    </header>


</body>
</html>
