<h2 class="thankyouheader">Thank you</h2>
<h3 class="thankyouh3">We hope you have a nice day here with us today! </h3>

<div class="button-row">
  <div class="col span-1-of-3">
      <label>&nbsp; <br/></label>
  </div>
    <div class="col span-2-of-3">
<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-1 signout" %><br />
    </div>

  </div>
